@model TodoWeb.Dtos.TodoViewDto

@{
    ViewData["Title"] = "Delete";
    ViewData["Index"] = $"/TodoLists/Details/{Model.TodoList.Id}";
}

<section aria-label="Task deletion section">
    <h1>Delete Task</h1>

    @if (Model.CreatedBy != null) {
        <h2>Task by @Model.CreatedBy.Email</h2>
    } else
    {
        <h2>Task by 
            <span class="text-gray-300 font-semibold">
                [Deleted User]
            </span>
        </h2>
    }
    <h2>Part of the list "@Model.TodoList.Title"</h2>

    <partial name="_IndexNav" />
    <h3 class="text-lg mb-6">Are you sure you want to delete this task?</h3>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            <summary class="form-control">@Html.DisplayFor(model => model.Title)</summary>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            <textarea class="form-control" readonly disabled rows="3">@Html.DisplayFor(model => model.Description)</textarea>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd id="date-created-display">@Html.DisplayFor(model => model.CreatedDateTime)</dd>
    </dl>

    <div class="col-container mt-6">
        <form asp-action="Delete" asp-route-fromList="@Model.TodoList.Id">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" aria-label="Task deletion confirmation button"/>
        </form>
    </div>
</section>

@section Scripts {
    <script src="~/js/app/adjustDateDisplay.js"></script>
    <script>
        $(document).ready(function () {
            adjustDateDisplay("#date-created-display");
        });
    </script>
}
