@model TodoWeb.Dtos.TodoViewDto

@{
    ViewData["Title"] = "Details";
}

<section aria-label="View task details section">
    <h1>Task Details</h1>
    <partial name="_IndexNav" />
    <dl>
        <dt>
            <label asp-for="Done" class="control-label">Done</label>
        </dt>
        <dd>
            <input type="checkbox" class="todo-checker" disabled readonly data-id="@Model.Id" id="checkbox-@Model.Id" checked="@Model.Done" />
            <label class="checkbox-display icon-container" for="checkbox-@Model.Id"></label>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            <summary class="form-control">@Html.DisplayFor(model => model.Title)</summary>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            <textarea class="form-control" readonly disabled rows="3">@Html.DisplayFor(model => model.Description)</textarea>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd id="date-created-display">@Html.DisplayFor(model => model.CreatedDateTime)</dd>

        <div class="form-group col-container">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn-primary block" aria-label="Save edits button">
                Edit
            </a>
        </div>
    </dl>
</section>

@section Scripts {
    <script src="~/js/app/adjustDateDisplay.js"></script>
    <script>
        $(document).ready(function () {
            adjustDateDisplay("#date-created-display");
        });
    </script>
}