@model IEnumerable<TodoWeb.Models.Todo>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-red-700">Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <input type="checkbox" class="todo-checker" data-id="@item.Id" checked="@item.Done" />
            </td>
            <td>
                <span id="title-@item.Id" class="@(item.Done ? "line-through" : "")">
                    @Html.DisplayFor(modelItem => item.Title)
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts 
{
    <script>
        var updated = new Set();
        $('.todo-checker').change(function() {
            var id = $(this).data("id");
            if (this.checked) {
                $('#title-' + id).addClass('line-through');
            } else {
                $('#title-' + id).removeClass('line-through');
            }

            if (updated.has(id)) {
                updated.delete(id);
            } else {
                updated.add(id);
            }
        });

        var debounce = null;
        $('.todo-checker').change(function () {
            clearTimeout(debounce);
            debounce = setTimeout(function() {
                var token = $('@Html.AntiForgeryToken()').val();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ToggleStatus")",
                    dataType: "json",
                    data: { 
                        idList: Array.from(updated),
                        __RequestVerificationToken: token
                    }
                });
                updated.clear();
            }, @Config.DebounceTime);
        });
    </script>
}
