@model ListIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Your Lists</h1>

<section class="m-4 flex justify-center" aria-label="Create todo list button section">
    <a class="btn-primary" asp-action="Create">
        @* Plus icon svg *@
        <div class="icon-container mr-3">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
            </svg>
        </div>
        Create a List
    </a>
</section>

<section class="flex flex-col space-y-5 justify-center drop-shadow-lg rounded-md" aria-name="Your todo lists section">
    @if (Model.PinnedLists.Any())
    {
        @foreach (var item in Model.PinnedLists) {
        <article class="todo-list-item">
            <div class="todo-list-item-header">
                <form>
                    <ul class="flex space-x-3 w-full justify-end">
                        <li><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                        <li><a asp-action="ManagePermissions" asp-route-id="@item.Id">Manage Permissions</a></li>
                        <li><a asp-action="Details" asp-route-id="@item.Id">View Tasks</a></li>
                        <li><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                    </ul>
                    <input asp-for="@item.Id" type="hidden" />
                    <small>@Html.DisplayNameFor(m => item.Title)</small>
                    <input asp-for="@item.Title" />
                </form>
            </div>
            <hr />
            <div class="todo-list-item-body overflow-auto">
                <partial name="_ListWithInput" model="item" />
            </div>
        </article>
        }
    } else
    {
        <h2>No lists created yet</h2>
    }
</section>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/app/todosAjaxInit.js"></script>
    <script>
        $(document).ready(function () {
            todosAjaxInit();
        });
    </script>
}